@import "../styles/variables.scss";

.extra-info {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    padding: 0.5rem;
    background: var(--itemBackgroundColour);
    margin: 1rem 0;
    border-radius: 0.2rem;
    height: fit-content;
    color: var(--textColourPrimary);
    a {
        text-decoration: none;
        color: var(--textColourPrimary);
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
        transition: all 0.7s;
    }
    .extra-info-title {
        font-size: 1rem;
    }
    .extra-info-content {
        font-size: 0.8rem;
        * {
            font-size: 0.8rem;
        }
        .topSubredditList {
            display: grid;
            grid-gap: 0.4rem;
            .subscriberCount {
                font-size: 0.7rem;
                color: var(--textColourSecondary);
            }
        }
    }
    .attribution {
        font-size: small;
        * {
            font-size: small;
        }
    }
    transition: all 0.7s;
}

@media only screen and (max-width: 50rem) {
    .extra-info {
        display: none;
    }
}
