.extra-info {
    margin: 1rem;
    padding: 0.5rem;
    background: white;
    margin: 1rem 0;
    border-radius: 0.2rem;
    height: fit-content;
    font-size: small;
    .extra-info-title {
        font-size: 1rem;
    }
    .extra-info-content {
        p {
            font-size: 0.9rem;
        }
    }
}
