@import "../styles/variables.scss";

.header {
    display: grid;
    background: var(--itemBackgroundColour);
    grid-template-columns: minmax(1rem, 65rem);
    justify-content: center;
    padding: 1rem;
    .header-container {
        display: grid;
        gap: 1rem;
        grid-template-columns: auto 1fr auto;
        .brand {
            font-weight: bold;
            a {
                text-decoration: none;
                color: var(--textColourPrimary);
            }
        }
    }
}
