@import "../styles/variables.scss";

.header {
    display: grid;
    background: var(--itemBackgroundColour);
    grid-template-columns: minmax(1rem, 65rem);
    justify-content: center;
    padding: 1rem;
    .header-container {
        display: grid;
        grid-gap: 0 1rem;
        align-items: center;
        grid-template-columns: auto 1fr auto;
        .brand {
            font-weight: bold;
            a {
                text-decoration: none;
                color: var(--textColourPrimary);
            }
        }
    }
}

.header,
header * {
    transition: 0.7s;
}

@media only screen and (max-width: 30rem) {
    .header {
        padding: 0.5rem 1rem;
        .header-container {
            grid-template-columns: auto auto;
            grid-gap: 0.5rem 1rem;
        }
    }
}
