.loader {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    margin: 2rem 0;
    .loader-container {
        display: inline-block;
        width: 100px;
        height: 80px;

        &:after {
            content: " ";
            display: block;
            width: 50px;
            height: 50px;
            margin: auto;
            // margin: 8px;
            border-radius: 50%;
            border: 6px solid #0079d3;
            border-color: #0079d3 transparent #0079d3 transparent;
            animation: loading-animation 1.2s linear infinite;
        }
    }
}

@keyframes loading-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
