.options-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem;
    background: white;
    margin: 1rem 0;
    border-radius: 0.2rem;
    .sort-menu-option {
        padding: 0 0.3rem;
        cursor: pointer;
    }
    .sort-menu-option-selected {
        color: #0079d3;
    }
    .limit-menu {
        justify-self: end;
    }
}
