.post {
    padding: 0.5rem;
    background: white;
    margin: 1rem 0;
    border-radius: 0.2rem;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 2.5rem minmax(2rem, 50rem);
    word-wrap: break-word;
    .post-left {
        justify-self: center;
        .score {
            font-size: x-small;
            font-weight: bold;
            text-align: center;
        }
        .content-toggle {
            display: flex;
            padding: 0.1rem 0.2rem 0.2rem 0.2rem;
            margin-top: 0.2rem;
            font-size: larger;
            font-weight: bold;
            border: solid rgb(0, 0, 0) 1px;
            border-radius: 0.2rem;
            cursor: pointer;
            outline: none;
        }
    }
    .post-right {
        .tagline {
            color: #787c7e;
            font-size: x-small;
            .post-subreddit-link {
                text-decoration: none;
                color: black;
                font-weight: bold;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .title-link {
            text-decoration: none;
            .title {
                color: #222222;
                font-size: 16px;
                font-weight: 600;
                padding: 0.2rem 0;
            }
        }
        .flat-list {
            color: #787c7e;
            font-size: small;
            font-weight: 900;
            a {
                text-decoration: none;
                color: #787c7e;
            }
        }
        .main-content-container {
            .main-content {
                img {
                    max-width: 100%;
                    max-height: 50rem;
                }
                video {
                    max-width: 100%;
                    max-height: 50rem;
                }
                p {
                    white-space: pre-wrap;
                }
            }
        }
    }
}
