.search-bar {
    .search-bar-wrapper {
        display: grid;
        align-items: center;

        grid-template-columns: 8rem 2rem;
        border: hsl(206, 20%, 70%) 2px solid;
        border-radius: 0.2rem;
        width: fit-content;
        &:hover {
            outline: none;
            border-color: #0079d3;
        }
        &:focus-within {
            border-color: #0079d3;
        }
        input {
            font-size: 0.75rem;
            background: var(--commentEvenBackground);
            color: var(--textColourPrimary);
            padding: 0.3rem;
            border: none;
            height: 2rem;
            outline: none;
        }
        button {
            outline: none;
            height: 100%;
            border: none;
            border-left: 2px solid var(--commentEvenBackground);
            &:focus {
                border-left: #0079d3 2px solid;
            }
            background: none;
            cursor: pointer;
            svg {
                display: block;
                margin: auto;
                stroke: var(--textColourPrimary);
            }
        }
    }
}

.search-bar,
.search-bar * {
    transition: color, background-color, stroke 0.7s;
}

@media only screen and (max-width: 30rem) {
    .search-bar {
        grid-column: 1 / -1;
        grid-row: 2;
        .search-bar-wrapper {
            grid-template-columns: auto 2rem;
            width: 100%;
            input {
                width: 100%;
            }
        }
    }
}
